<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <configSections>
        <sectionGroup name="system.webServer">
            <sectionGroup name="rewrite">
                <section name="rewriteMaps" overrideModeDefault="Allow" />
                <section name="rules" overrideModeDefault="Allow" />
            </sectionGroup>
        </sectionGroup>
    </configSections>

    <system.webServer>
        <security>
         
        
        </security>
        <directoryBrowse enabled="true" />
        <caching>
            <profiles> 
            </profiles>
        </caching>
        <rewrite>
            <rules> 
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                 
            </files>
        </defaultDocument>

        <!-- HTTP Errors section should only be enabled if the "Error Pages"
        feature has been delegated as "Read/Write" at the Web Server level.
           <httpErrors>
               
           </httpErrors>
        -->

    </system.webServer>
</configuration><?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <configSections>
        <sectionGroup name="system.webServer">
            <sectionGroup name="rewrite">
                <section name="rewriteMaps" overrideModeDefault="Allow" />
                <section name="rules" overrideModeDefault="Allow" />
            </sectionGroup>
        </sectionGroup>
    </configSections>

    <system.webServer>
        <security>
         
        
        </security>
        <directoryBrowse enabled="true" />
        <caching>
            <profiles> 
            </profiles>
        </caching>
        <rewrite>
            <rules> 
            </rules>
        </rewrite>
        <defaultDocument>
            <files>
                 
            </files>
        </defaultDocument>

        <!-- HTTP Errors section should only be enabled if the "Error Pages"
        feature has been delegated as "Read/Write" at the Web Server level.
           <httpErrors>
               
           </httpErrors>
        -->

    </system.webServer>
</configuration>